---
import MarkdownLayout from '../../components/MarkdownLayout.astro'
import Layout from '../../layouts/Layout.astro'
import { getCollection, render } from 'astro:content'
import { sortByDate } from '../../utils/sortByDate'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  const numberOfPosts = posts.length
  const sortedPosts = posts.sort(sortByDate).map((post, i) => ({
    params: { slug: post.id },
    props: {
      post,
      postNumber: i,
      previousPostData: i + 1 === numberOfPosts ? null : posts[i + 1],
      nextPostData: i === 0 ? null : posts[i - 1],
    },
  }))

  return sortedPosts
}

const { post, postNumber, previousPostData, nextPostData } = Astro.props
const { Content } = await render(post)
---

<Layout>
  <MarkdownLayout>
    <h2>{post.data.title}</h2>
    <Content />
    <div class='flex flex-col gap-2'>
      {
        previousPostData ? (
          <a
            href={`/blog/${previousPostData.id}`}
            class='flex flex-col rounded-md px-4 py-2 no-underline outline outline-1 outline-black'
          >
            <span class='self-start font-bold'>← Last Post</span>
            <span class='italic'>{previousPostData.data.title}</span>
          </a>
        ) : (
          <p class='m-0 rounded-md px-4 py-2 outline outline-1 outline-black'>
            No previous posts!
          </p>
        )
      }
      {
        nextPostData ? (
          <a
            href={`/blog/${nextPostData.id}`}
            class='flex flex-col rounded-md px-4 py-2 no-underline outline outline-1 outline-black'
          >
            <span class='self-end font-bold'>Next Post →</span>
            <span class='self-end italic'>{nextPostData.data.title}</span>
          </a>
        ) : (
          <p class='m-0 rounded-md px-4 py-2 outline outline-1 outline-black'>
            No next post!
          </p>
        )
      }
    </div>
  </MarkdownLayout>
</Layout>
