---
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'
import { sortByDate } from '../utils/sortByDate'
const allPosts = await getCollection('blog')
---

<Layout>
  {
    allPosts.length > 0 ? (
      <ul class='m-0 flex list-none flex-col gap-4 p-0 sm:gap-6'>
        {allPosts.sort(sortByDate).map((post: any) => {
          const { title, pubDate, description, tags } = post.data
          return (
            <a
              href={`/blog/${post.id}`}
              class='px-2 py-4 no-underline outline outline-1'
            >
              <li class='m-0 p-0'>
                <h3 class='mt-0'>{title}</h3>
                <time class='italic' datetime={pubDate.toISOString()}>
                  {pubDate.toDateString()}
                </time>
                <p class='font-normal'>{description}</p>
                <ul class='flex flex-wrap gap-1 p-0'>
                  {tags.map((tag: string) => (
                    <li class='m-0 list-none rounded-xl border px-2 capitalize'>
                      {tag}
                    </li>
                  ))}
                </ul>
              </li>
            </a>
          )
        })}
      </ul>
    ) : (
      <h2>There are no posts</h2>
    )
  }
</Layout>
