---
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'
import { sortByDate } from '../utils/sortByDate'
import Pill from '../components/Pill.astro'
import { number } from 'astro:schema'
const allPosts = await getCollection('blog')
---

<Layout>
  {
    allPosts.length > 0 ? (
      <ul class='m-0 flex list-none flex-col gap-4 p-0 sm:gap-6'>
        {allPosts.sort(sortByDate).map((post) => {
          const { title, pubDate, description, tags } = post.data
          return (
            <a
              href={`/blog/${post.id}`}
              class='group px-2 py-4 no-underline outline-1'
            >
              <li class='flow-content list-none'>
                <h3 class='mt-0 capitalize underline decoration-transparent transition-all duration-300 ease-in-out group-has-hover:decoration-[var(--color-taupe)]'>
                  {title}
                </h3>
                <time class='italic' datetime={pubDate.toISOString()}>
                  {/* {pubDate.toDateString()} */}
                  {pubDate.toLocaleDateString('en-EN', {
                    day: 'numeric',
                    month: 'long',
                    year: 'numeric',
                  })}
                </time>
                <p class='font-normal'>{description}</p>
                <ul class='flex flex-wrap gap-1 p-0'>
                  {tags.map((tag) => (
                    <Pill>{tag}</Pill>
                  ))}
                </ul>
              </li>
            </a>
          )
        })}
      </ul>
    ) : (
      <h2>There are no posts</h2>
    )
  }
</Layout>
