---
import { getCollection } from 'astro:content'
import Pill from '../components/Pill.astro'
import Layout from '../layouts/Layout.astro'
import { sortByDate } from '../utils/sortByDate'
import type { CollectionEntry } from 'astro:content'
const allPosts: CollectionEntry<'blog'>[] = await getCollection('blog')
---

<Layout
  contentDescription='A collection of blog posts that detail various technical interests and issues Anthony has encountered as a developer.'
>
  {
    allPosts.length > 0 ? (
      <ul class='m-0 flex list-none flex-col gap-4 p-0 sm:gap-6'>
        {allPosts.sort(sortByDate).map((post) => {
          const { title, pubDate, description, tags } = post.data
          return (
            <a
              href={`/blog/${post.id}`}
              class='border-heading group border px-2 py-4 no-underline'
            >
              <li class='flow-content list-none'>
                <h2 class='text-heading group-hover:decoration-[var(--color-taupe)] mt-0 capitalize underline decoration-transparent transition-all duration-300 ease-in-out'>
                  {title}
                </h2>
                <time class='italic' datetime={pubDate.toISOString()}>
                  {pubDate.toLocaleDateString('en-EN', {
                    day: 'numeric',
                    month: 'long',
                    year: 'numeric',
                  })}
                </time>
                <p class='font-normal'>{description}</p>
                <ul class='flex flex-wrap gap-1 p-0'>
                  {tags?.map((tag) => (
                    <Pill>{tag}</Pill>
                  ))}
                </ul>
              </li>
            </a>
          )
        })}
      </ul>
    ) : (
      <div class='flow-content border-heading border-1 px-2 py-4'>
        <h2 class='text-heading'>There are no posts just yet...</h2>
        <p>
          I'm working on editing a few of the things I have written so far, and
          hope to have them up shortly. Please check back again soon!
        </p>
      </div>
    )
  }
</Layout>
