---
import { Image } from 'astro:assets'
import profilePic from '/src/images/profile-pic.jpeg'
import ContentGroup from './ContentGroup.astro'
import { bio } from '../data/site-data.json'
const {
  photo,
  professionalBlurb,
  personalBlurb,
  jobTitle,
  fullName,
  location,
  socials,
} = bio
---

<ContentGroup>
  <div
    class='grid grid-cols-[fit-content(36%)_1fr_1fr] grid-rows-4 gap-1 sm:gap-2'
  >
    <Image
      src={profilePic}
      alt={photo.altText}
      class='col-span-1 row-span-3 aspect-square max-h-44 w-auto object-contain'
    />
    <div
      class='col-span-2 row-span-3 flex flex-col justify-end bg-slate-900 p-1 sm:p-2'
    >
      <h2 class='m-0 text-neutral-100'>{fullName}</h2>
      <p class='m-0 text-sm font-light text-neutral-100 sm:text-base'>
        {jobTitle}
      </p>
    </div>
    <div
      class='col-span-3 grid grid-cols-subgrid [@media(min-width:500px)]:flex'
    >
      <div
        class='col-span-2 flex w-full items-center gap-1 bg-slate-900 p-1 text-neutral-100'
      >
        <div
          class='flex aspect-square h-6 w-auto items-center justify-center rounded-sm p-1 text-inherit sm:h-8'
        >
          <span
            class='iconify inline h-full w-full text-inherit ion--globe-outline'
          ></span>
        </div>
        <p class='m-0 text-neutral-100'>{location}</p>
      </div>
      <div
        class='col-start-3 flex items-center justify-between bg-slate-900 p-1 text-neutral-100 sm:justify-around [@media(min-width:500px)]:gap-4'
      >
        {
          socials.map((social) => {
            return (
              <a
                href={social.url}
                target='_blank'
                class='flex aspect-square h-6 w-auto items-center justify-center rounded-sm p-1 outline outline-1 sm:h-8 [@media(max-width:375px)]:outline-none'
              >
                <span
                  class=`iconify inline h-full w-full text-inherit ion--logo-${social.name} hover:bg-slate-400`
                />
              </a>
            )
          })
        }
      </div>
    </div>
  </div>
  <article class='[&>*:last-child]:mb-0'>
    <p>
      {professionalBlurb}
    </p>
    <p>
      {personalBlurb}
    </p>
  </article>
</ContentGroup>
