---
import { Picture } from 'astro:assets'
import profilePic from '/src/assets/images/profile-pic.jpeg'
import ContentGroup from './ContentGroup.astro'
import { bio } from '../data/site-data.json'
import { Icon } from 'astro-icon/components'
const {
  photo,
  professionalBlurb,
  personalBlurb,
  jobTitle,
  fullName,
  location,
  socials,
} = bio
---

<ContentGroup>
  <div
    class='grid grid-cols-[fit-content(36%)_1fr_1fr] grid-rows-4 gap-1 sm:gap-2'
  >
    <div class='col-span-1 row-span-3 block aspect-square max-h-46'>
      <Picture
        src={profilePic}
        alt={photo.altText}
        class='block min-h-32 object-cover'
        formats={['avif', 'webp']}
      />
    </div>
    <div
      class='col-span-2 row-span-3 flex flex-col justify-end gap-1 bg-(--color-heading) p-1 sm:p-2'
    >
      <h1 class='m-0 text-neutral-100 md:text-[3.688rem]'>{fullName}</h1>
      <p
        class='m-0 text-sm font-light text-neutral-100 sm:text-base md:text-lg'
      >
        {jobTitle}
      </p>
    </div>
    <div
      class='col-span-3 grid grid-cols-subgrid [@media(min-width:500px)]:flex'
    >
      <div
        class='col-span-2 flex w-full items-center gap-1 bg-(--color-heading) p-1 sm:p-2'
      >
        <div
          class='flex aspect-square h-6 w-auto items-center justify-center rounded-xs p-1 sm:h-8'
        >
          <Icon
            name='ion:globe-outline'
            class='h-full w-full text-neutral-100'
            title='geographical location'
          />
        </div>
        <p class='m-0 text-neutral-100'>{location}</p>
      </div>
      <ul
        class='col-start-3 flex items-center justify-between bg-(--color-heading) p-1 sm:justify-around sm:p-2 [@media(min-width:500px)]:gap-4'
      >
        {
          socials.map(({ url, profileName }) => {
            return (
              <li class='m-0 list-none p-0'>
                <a
                  href={url}
                  target='_blank'
                  aria-labelledby={profileName}
                  class='flex aspect-square h-7 w-auto items-center justify-center rounded-xs p-1 sm:h-8'
                >
                  <Icon
                    name={`ion:logo-${profileName}`}
                    class='h-full w-full text-neutral-100 hover:text-neutral-300'
                    aria-hidden='true'
                    focusable='false'
                  />
                  <span id={profileName} hidden>
                    {profileName}
                  </span>
                </a>
              </li>
            )
          })
        }
      </ul>
    </div>
  </div>
  <article class='flow-content mt-4'>
    <p>
      {professionalBlurb}
    </p>
    <p>
      {personalBlurb}
    </p>
  </article>
</ContentGroup>
