---
import { getCollection } from 'astro:content'
import ContentGroup from './ContentGroup.astro'
import Pill from './Pill.astro'
const workExperience = await getCollection('workExperience')
---

<ContentGroup>
  {
    workExperience.map((experienceItem) => {
      const {
        company,
        siteUrl,
        jobTitle,
        startDate,
        endDate,
        description,
        skills,
      } = experienceItem.data
      return (
        <div class='flow-content mt-8 flex flex-col first:mt-0'>
          <h2 class='text-(--color-heading)'>
            <a
              href={siteUrl}
              class='font-normal underline decoration-transparent transition-all duration-300 ease-in-out hover:decoration-[var(--color-taupe)]'
              target='_blank'
            >
              {company}
            </a>
          </h2>
          <div class='flex flex-col'>
            <p class='m-0 text-base font-bold'>{jobTitle}</p>
            <time class='text-sm italic'>
              {startDate} — {endDate ? endDate : null}
            </time>
          </div>
          <p class='font-normal'>{description}</p>
          <ul class='m-0 flex flex-wrap gap-1 p-0'>
            {skills.map((skill) => {
              return <Pill>{skill}</Pill>
            })}
          </ul>
        </div>
      )
    })
  }
</ContentGroup>
