---
import { getCollection } from 'astro:content'
import ContentGroup from './ContentGroup.astro'
const workExperience = await getCollection('workExperience')
---

<ContentGroup>
  {
    workExperience.map((experienceItem) => {
      const {
        company,
        siteUrl,
        jobTitle,
        startDate,
        endDate,
        description,
        skills,
      } = experienceItem.data
      return (
        <div class='mt-8 flex flex-col first:mt-0'>
          <a href={siteUrl} class='no-underline' target='_blank'>
            <h3 class='mb-2 mt-0'>{company}</h3>
            <div class='flex flex-col'>
              <p class='m-0 text-base font-bold'>{jobTitle}</p>
              <time class='text-sm italic'>
                {startDate} – {endDate ? endDate : null}
              </time>
            </div>
            <p class='font-normal'>{description}</p>
            <ul class='m-0 flex flex-wrap gap-1 p-0'>
              {skills.map((skill: any) => {
                return (
                  <li class='m-0 list-none rounded-xl border px-2 capitalize sm:px-3'>
                    {skill}
                  </li>
                )
              })}
            </ul>
          </a>
        </div>
      )
    })
  }
</ContentGroup>
